@font-face{
	font-family: ubicacion;
	src: url('fuentes/CreteRound-Regular.otf');
}
@font-face{
	font-family: nombretabla;
	src: url('fuentes/Comfortaa_Regular.ttf');
}
@font-face{
	font-family: nombreboton;
	src: url('fuentes/Aclonica.ttf');
}


/*CABECERA*/
h1{
    text-align: center;
}

/*FUENTES*/

#ubica{
    font-family: ubicacion;
    font-size: 25px;
    color: #0167b4;
    text-shadow: 0px -5px 8px rgba(0, 126, 255, 1);
}

/*CUERPO*/
body{
	text-align: center;
        background-color: #F2F1F1;
}

main{
    margin-top: 20px;
	width: 65%;
	height: 615px;
	background: url('../imagenes/fondo3.png');
	display: inline-block;
	text-align: left;
	padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 2px;

}

/*HEADERS*/
header{
    width: 100%;
    height: 20%;
}
#headerindex{
    height: 35%;
}

/*TAMAÑO SECTIONS*/
section{
    width: 100%;
    height: 400px;
}


/*TAMAÑO ARTICLES*/
article{
    vertical-align: top;
    width: 49%;
    height: 50%;
    display: inline-block;
    text-align: center;
    
}

#articlecurso{
width: 90%;
margin-left: 5%;
text-align: left;
}

#articleTest{
    width: 90%;
    margin-left: 5%;
    text-align: left;
}

#articleboton{
    width: 49%;
    text-align: left;
}

#articlepanel{
    width: 46%;
    text-align: center;
    margin-left: 3%;

}



#articleubicacion{
    width: 49%;
    text-align: right;
    padding-right: 15px;
}

.articleunidad{
    width: 32%;
}

/**/

#btnentrar{
    margin-top: 60px;
    width: 100%;
    text-align: center;        
}


footer{
    width: 100%;
    vertical-align: bottom;
    position: relative;
    margin-top: 16px;
    margin-left: 22px;
    
}
/*tablita*/
td{
    font-family: nombretabla;
    font-weight: bold;
}

/*botones*/
#botontestprogramados{
    min-height: 170px;
    min-width: 247px;
    background-color: transparent;
    border: 0;
    background-image: url('../imagenes/test_programados.png');
}

#botontitulotranspor{
    min-height: 189px;
    min-width: 290px;
    padding-bottom: 145px;
    font-size: 15px;
    border: 0;
    background-image: url('../imagenes/fondoboton.png');
    font-weight: bold;
    box-shadow: 1px 1px 1px 5px;
    border-radius: 7px;
    
    
}

#botontitulotranspor:hover{
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

