
@font-face{
	font-family: ubicacion;
	src: url('fuentes/CreteRound-Regular.otf');
}
@font-face{
	font-family: nombretabla;
	src: url('fuentes/Comfortaa_Regular.ttf');
    }
    @font-face{
	font-family: nombreboton;
	src: url('fuentes/Aclonica.ttf');
}

/*CABECERA*/
h1{
    text-align: center;
}

/*FUENTES*/

#ubica{
    font-family: ubicacion;
    font-size: 25px;
    color: #0167b4;
    text-shadow: 0px -5px 8px rgba(0, 126, 255, 1);
}

/*CUERPO*/
body{
	text-align: center;
        background-color: #F2F1F1;
}

main{
        margin-top: 20px;
	width: 64%;
	min-height: 100%;
	background: url('../imagenes/fondoGris.png') no-repeat;
        background-size: cover;
	display: inline-block;
	text-align: left;
	padding: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 2px;
        

}

/*HEADERS*/
header{
    width: 100%;
    height: 100px;
    background-image: url('.  ./imagenes/cabeceraCDP.png');

}

#cabecera{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 70px;
}


/*TAMAÑO SECTIONS*/
section{
    width: 100%;
    min-height: 400px;
}

#sectionindex{
        width: 100%;
        min-height: 400px;
        margin-top: 76px;
}

#sectionunidad{
    margin-top: 80px;   
}

/*TAMAÑO ARTICLES*/
article{
    vertical-align: top;
    width: 49%;
    height: 50%;
    display: inline-block;
    text-align: center;
    
}

#articlecurso{
width: 90%;
margin-left: 5%;
text-align: left;
margin-top: 40px;
}

#articleTest{
    width: 90%;
    margin-left: 5%;
    text-align: left;
}

#articleboton{
    width: 49%;
    text-align: left;
}

#articlepanel{
    width: 46%;
    text-align: center;
    margin-left: 3%;

}

#articleubicacion{
    width: 49%;
    text-align: right;
    padding-right: 15px;
}

.articleunidad{
    width: 33%;
}

/*BOTONES PARA TEST PROGRAMADOS*/

#botonprogramados{
    padding-left: 25px
}

#botonexamenes{
    padding-left: 10px;
}

/*BOTON ENTRAR*/
#btnentrar{
    margin-top: 60px;
    width: 100%;
    text-align: center;        
}

/*PIE DE PAGINA*/
footer{
    width: 100%;
    vertical-align: bottom;
    position: relative;
    margin-top: 16px;
    margin-left: 22px;
    
}
/*TABLITA*/
td{
    font-family: nombretabla;
    font-weight: bold;
}

/*BOTONES*/
#botontestexamenes{
    min-height: 300px;
    min-width: 180px;
    background-color: transparent;
    border: 0;
    background-image: url('../imagenes/examen2.png');
    transition: width 0.5s, height 0.5s, transform 0.5s; 
}

#botontestexamenes:hover{
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transition: width 0.5s, height 0.5s, transform 0.5s; 
}

#botoncasospracticos{
    min-height: 300px;
    min-width: 180px;
    background-color: transparent;
    border: 0;
    background-image: url('../imagenes/practicos2.png');
    transition: width 0.5s, height 0.5s, transform 0.5s; 
}

#botoncasospracticos:hover{
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transition: width 0.5s, height 0.5s, transform 0.5s; 
}

#botontestprogramados{
    min-height: 300px;
    min-width: 170px;
    background-color: transparent;
    border: 0;
    background-image: url('../imagenes/programados2.png');
    transition: width 0.5s, height 0.5s, transform 0.5s;   

}

#botontestprogramados:hover{
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transition: width 0.5s, height 0.5s, transform 0.5s;   
}

#botontitulotranspor{
    min-height: 189px;
    min-width: 290px;
    padding-bottom: 145px;
    font-size: 15px;
    border: 0;
    background-image: url('../imagenes/fondoboton.png');
    font-weight: bold;
    box-shadow: 1px 1px 1px 5px;
    border-radius: 7px;
    transition: width 0.5s, height 0.5s, transform 0.5s;   
}

#botontitulotranspor:hover{
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);    
    -ms-transform: scale(1.05,1.05);
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

/*Tabla temas*/
table{
    position: relative;
}

/*Color parrafo de error en index*/
#colorError{
    color: red;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -30px;
}

#nombreUsuarioRegistrado{
    display: inline-block;
    width: 30%;
    height: 20%;
    float: right;
    *margin-right: 20px;
    *margin-top: 30px;
    padding-top: 25px;
    font-size: 15px;
    font-family: comic sans ms;
    text-align: center;

}

#caraDali{
    display: inline-block;
    background-image: url('imagenes/cabeceraCDP.png');
}

#caraImagen{
    width: 200px;
    height: 90px;
}

#practicos{
    background-color: rgba(66, 138, 204, 0.4);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: tahoma;
    font-size: 14pt;
}

.respuestaCorrectaPracticos{
    background-color: rgba(0, 179, 0, 0.3);
    font-family: tahoma;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: tahoma;

}

#resolver{
    margin-left: 390px;
    margin-top: 10px;
}

#botonProgramados{
    background-color: rgba(0, 0, 0, 0.4);
    background: none;
    font-weight: bold;
    width: 80%;
    outline:0px;
    text-align: center;
}

.explicacionTest{
    background-color: rgba(0, 179, 0, 0.3);
    font-family: tahoma;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: tahoma;
}
