/*CUERPO*/
body{
	text-align: center;
}

main{
	width: 70%;
	height: 615px;
	background: url('../imagenes/Background.png');
	display: inline-block;
	text-align: left;
	padding: 10px;
        border-radius: 20px;
}

header{
    width: 100%;
    height: 30%;
}

section{
    vertical-align: top;
    width: 49%;
    height: 20%;
    display: inline-block;
    text-align: center;
}

